{% extends 'home/base.html' %}

{% block content %}
<div class="container-fluid"> 
	<h1 align="center" style="padding: 0 75px"> What is Coqu&iacute; Ipsum? </h1>
	<br>
	<p style="padding: 0 75px">
		Coqu&iacute; Ipsum is a Lorem Ipsum generator made in Puerto Rico. A Lorem Ipsum is bascially dummy text or filler text commonly used to demonstrate the graphic elements of a document or visual presentation. The words and phrases used in this ipsum are delicious puertorrican dishes that define our culture and I suggest you try them one day, they might just change your life! In case you were wondering what a coqu&iacute; is, they are a onomatopoeically named species of small frogs only found in the tropical archipelago of Puerto Rico.
	</p>
	<p>

	</p>
</div>
{% endblock %}