{% load staticfiles %}
<html>
<head>
	<title> Coqu&iacute; Ipsum </title>
	<link rel="stylesheet" href="{% static 'home/coquiipsum.css' %}">
	<link rel="stylesheet" href="{% static 'home/bootstrap.css' %}">
</head>
<body style="background-color: #8BB88C;">

	<div id="wrapper">

	<nav class="navbar navbar-default" role="navigation">
		<center> <div class="img-wrapper"><img src="{% static "home/logo.png" %}"/> </div></center>
    		<div class="navbar-center">
				<ul class="nav navbar-nav" style="font-size:24px;">
					<li><a href="{% url 'home.views.home' %}"> Home </a></li>
					<li><a href="{% url 'home.views.about' %}"> About </a></li>
					<li><a href="https://github.com/EmaCorrea/Coqui-Ipsum" target="blank"> GitHub </a></li>
				</ul>
   			</div>
	</nav>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			Made by Emanuel Correa Rivera. {{ current_year }}
		</div>
	</div>
</body>
</html>