{% load staticfiles %}
<html>
<head>
	<title> Coqui Ipsum </title>
	<link rel="stylesheet" href="{% static 'home/coquiipsum.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body style="background-color:#F1F1F1;">
	<div id="wrapper">
		<center> <img src="{% static "home/logo.png" %}" /> </center>
		<div id="navbar">
			<ul>
				<li><a href="{% url 'home.views.home' %}"> Home </a></li>
				<li><a href="https://github.com/EmaCorrea" target="blank"> GitHub </a></li>
				<li><a href="{% url 'home.views.about' %}"> About </a></li>
			</ul>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			Made by Emanuel Correa Rivera. {{ current_year }}
		</div>
	</div>
</body>
</html>