{% extends 'home/base.html' %}

{% block content %}
<h1 align="center" style="font-family: Lobster;"> Stuff goes here </h1>	



<div id="input">
	
	<form method="get"> 
		<table align="center" border="borders">
			<tr> 
				<td> Paragraphs: </td>
				<td>  <input type="text" name="paragraph" value="5" maxlength="2">  </td>
			</tr>
				<br>
			<tr>
				<td> Type: </td>
				<td> <input type="checkbox" name="type" value="filler">  Add filler </td> 
			</tr>
				<br>
			<tr>
				<td colspan="2">
				<center> <input type="checkbox" name="start" value="start"> Start with 'Coqui ipsum dolor amet...' </center> </td>
			</tr>
				<br>
			<tr>
				<td colspan="2"> <center> <input type="submit" value="Submit"> </center> </td>
			</tr>
		</table>
	</form>

</div>
{% endblock %}