{% extends 'home/base.html' %}

{% block content %}	

<br>
{% for paragraph in paragraphs %}
<center> {{ paragraph }} </center>
<br>
{% endfor %}

<div id="input">
	<form action="{% url 'home' %}" method="POST"> 
		{% csrf_token %}
		<table align="center" border="border">
			<tr> 
				<td width="40%"> Paragraphs: </td>
				<td width="60%"> <input type="number" name="paragraph" min="1" max="10" value="1"> </td>
			</tr>
			<br>
			<tr>
				<td> Type: </td>
				<td> <input type="checkbox" name="filler" value="yes">  Add filler </td> 
			</tr>
			<br>
			<tr>
				<td colspan="2"><center>
					<input type="checkbox" name="start" value="yes" checked="checked"> Start with 'Coqui ipsum dolor amet...' 
				</center></td>
			</tr>
			<br>
			<tr>
				<td colspan="2"><center>
					<button type="submit"> Submit </button>
				</center></td>
			</tr>
		</table>
	</form>
</div>

{% endblock %}